clover.xml
html/
vendor/*
.vagrant
tmp
build/*
!build/*.xml
introspective
cookbooks
.idea
.env
.chef/*.pem
.generatorrc
npm-debug.log
node_modules
temp
dump
npm-debug.log
*.xcodeproj
*.xcworkspace
RELEASE
